%header
	.container-fluid
		.row
			%ul.nav.navbar-nav
				%li.col-xs-1.col-xs-offset-2.text-center{"data-ref" => "#step_1"}
					%a{:href => "#step_1"}
						.step
				%li.col-xs-1.text-center{"data-ref" => "#step_2"}
					%a{:href => "#step_2"}
						.step
				%li.col-xs-1.text-center{"data-ref" => "#step_3"}
					%a{:href => "#step_3"}
						.step
				%li.col-xs-1.text-center{"data-ref" => "#step_4"}
					%a{:href => "#step_4"}
						.step
				%li.col-xs-1.text-center{"data-ref" => "#step_5"}
					%a{:href => "#step_5"}
						.step
				%li.col-xs-1.text-center{"data-ref" => "#step_6"}
					%a{:href => "#step_6"}
						.step
				%li.col-xs-1.text-center{"data-ref" => "#step_7"}
					%a{:href => "#step_7"}
						.step
				%li.col-xs-1.text-center{"data-ref" => "#step_8"}
					%a{:href => "#step_8"}
						.step
%section
	%h1.text-center
		Welcome
%section#step_1.active
	%h1.text-center
		test
%section#step_2
	%h1.text-center
		test
%section#step_3
	%h1.text-center
		test
%section#step_4
	%h1.text-center
		test
%section#step_5
	%h1.text-center
		test
%section#step_6
	%h1.text-center
		test
%section#step_7
	%h1.text-center
		test
%section#step_8
	%h1.text-center
		test
%section.full
	%h1.text-center
		Bye